*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgb(117, 123, 124), white);
}

.bolo {
    border-radius: 4px;
}
.encabezado {
    text-align: center;
}
.encabezado2 {
    text-align: center;
}
